$primary: lightblue;

.magic-tabs__picker {
  margin-bottom: 15px;
  border-bottom: 2px #eaeaea solid;

  input {
    display: none;

    &:checked {
      + span {
        color: $primary;
        border-color: $primary;
      }
    }
  }

  label {
    cursor: pointer;
    margin: 0;
  }

  span {
    transition: 0.3s;
    padding: 3px 15px 5px 15px;
    display: block;
    position: relative;
    top: 2px;
    border-bottom: 2px #eaeaea solid;
  }
}