.magic-tabs__picker {
  margin-bottom: 15px;
  border-bottom: 2px #eaeaea solid; }
  .magic-tabs__picker input {
    display: none; }
    .magic-tabs__picker input:checked + span {
      color: lightblue;
      border-color: lightblue; }
  .magic-tabs__picker label {
    cursor: pointer;
    margin: 0; }
  .magic-tabs__picker span {
    transition: 0.3s;
    padding: 3px 15px 5px 15px;
    display: block;
    position: relative;
    top: 2px;
    border-bottom: 2px #eaeaea solid; }

/*# sourceMappingURL=magic-tabs.css.map */
