<template>
  <div>
    <div class="magic-tabs__picker">
      <label v-for="tab in tabs" :key="tab.name">
        <input type="radio" :value="tab.name" v-model="selectedTab" @change="update">
        <span>{{ tab.label }}</span>
      </label>
    </div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: ['value'],
  data () {
    return {
      tabs: [],
      selectedTab: this.value || null
    }
  },
  methods: {
    update () {
      this.$emit('input', this.selectedTab)
    },
    parseTabs () {
      let tabs = []
      this.$children.forEach((el) => {
        tabs.push({name: el.name, label: el.label || el.name})
      })
      if (!this.selectedTab && tabs.length > 0) this.selectedTab = tabs[0].name
      this.setTabs(tabs)
    },
    setTabs (data) {
      this.tabs = data
    }
  },
  watch: {
    value () {
      this.selectedTab = this.value
    }
  },
  mounted () {
    this.parseTabs()
  }
}
</script>