$primary: #268BD2;

.magic-tabs__picker {
  margin-bottom: 15px;
  border-bottom: 2px #eaeaea solid;

  input {
    display: none;

    &:checked {
      + span {
        color: $primary;
        border-color: $primary;
      }
    }
  }

  label {
    cursor: pointer;
    margin: 0;
  }

  span {
    transition: 0.3s;
    padding: 3px 15px 5px 15px;
    display: block;
    position: relative;
    top: 2px;
    border-bottom: 2px #eaeaea solid;
  }
}

/* site css */
body {
  padding-top: 50px;
}

.navbar {
  text-align: center;
  display: block;
}

.container {
  padding: 50px 10px;
}

pre {
  background: #073642;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

@media all and (max-width: 1024px) {
  body {
    padding-top: 0
  }

  .container {
    padding: 15px 10px;
  }

  .navbar {
    position: initial;
  }
}