<template>
  <div v-if="selected">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: ['name', 'label'],
  computed: {
    selected () {
      let selected = this.$parent.selectedTab
      return !(!selected || selected !== this.name)
    }
  }
}
</script>