<template>
  <div>
    <nav class="navbar bg-dark fixed-top">
      <a href="https://bitbucket.org/DJanoskova/vue.js-magictabs" target="_blank">
        <h4>https://bitbucket.org/DJanoskova/vue.js-magictabs</h4>
      </a>
    </nav>

    <div class="container">
      <div class="row">

        <!-- new tab form -->
        <div class="col-md-6 col-sm-12 order-md-3 order-sm-1">

          <br>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <input type="text"
                  placeholder="Tab label - displayed text"
                  class="form-control"
                  v-model="newTab.label">
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <input type="text"
                  placeholder="Tab name - unique key"
                  class="form-control"
                  v-model="newTab.name">
              </div>
            </div>
          </div>
          <div class="form-group">
        <textarea
          rows="5"
          placeholder="Tab content (try HTML!)"
          class="form-control"
          v-model="newTab.content">
          </textarea>
          </div>
          <div class="text-right">
            <button
              type="button"
              class="btn btn-info"
              @click="saveTab"
              :disabled="!newTab.name">
              Add new tab
            </button>
          </div>

        </div>

        <!-- displayed tabs -->
        <div class="col-md-6 col-sm-12 order-2">

          <Tabs ref="tabs" v-if="tabs" v-model="selectedTab">
            <Tab v-for="(tab, index) in tabs"
              :name="tab.name"
              :label="tab.label"
              @key="tab.name">

              <!-- show tab structure -->
              <pre v-text="tab" />

              <!-- show tab content as html -->
              <div v-html="tab.content"></div>

              <br>
              <button
                type="button"
                class="btn btn-sm btn-danger"
                @click="removeTab(tab, index)"
                :disabled="tabs.length < 2">
                Remove
              </button>

            </Tab>
          </Tabs>

        </div>

      </div>

    </div>
  </div>
</template>

<script>
import EmptyTab from './models/emptyTab'
import FilledTabs from './models/filledTabs'
import Tabs from './MagicTabs/Tabs.vue'
import Tab from './MagicTabs/Tab.vue'

export default {
  data () {
    return {
      tabs: FilledTabs,
      newTab: new EmptyTab(),
      selectedTab: 'firstTab',
    }
  },
  methods: {
    saveTab () {
      this.tabs.push(JSON.parse(JSON.stringify(this.newTab)))
      this.selectedTab = this.newTab.name
      this.newTab = new EmptyTab()
      this.refreshTabs()
    },
    removeTab (tab, index) {
      if (this.selectedTab === tab.name) this.selectedTab = null
      this.tabs.splice(index, 1)
      this.refreshTabs()
    },
    refreshTabs () {
      this.$nextTick(() => {
        this.$refs.tabs.parseTabs()
      })
    }
  },
  components: {
    Tabs,
    Tab
  }
}
</script>
